/* #region reset e body*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-wwdc-stock-2048x1536-1455.jpg) no-repeat top;
  background-size: cover;
}

/* #endregion */
/* #region variaveis*/
$cor-primaria: #373737;
$cor-secundaria: #222222;
$contraste: #ffffff;
$branco-secundario: #f7f7f7;

/* #endregion */
/* #region tema claro*/
.cabecalho.claro,
.botoes.claro {
  background-color: $contraste;
}

.calculadora-container.claro {
  border: none;
}

.resultado-container.claro,
.digitacao-container.claro {
  background-color: $branco-secundario;
  color: $cor-primaria;
}

.resultado-container.claro,
.botoes.claro {
  border-top: 2px solid darken($contraste, 10%);
  border-bottom: 2px solid darken($contraste, 10%);
}

.botoes {
  .botao.claro {
    background-color: $branco-secundario;
    border: 2px solid $contraste;
    color: #222222;

    &.claro:hover {
      background-color: darken($branco-secundario, 5%);
    }
  }
}

i.claro {
  color: $cor-primaria;
  transition: 0.3s;
  rotate: -180deg;
}

/* #endregion */
/* #region calculadora container*/
.calculadora-container {
  display: grid;
  grid-template-columns: 360px;
  grid-template-rows: 39px 117px 71px auto;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid $contraste;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5)
}

/* #endregion */
/* #region cabeçalho*/
.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $cor-primaria;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.bolinha {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  top: 12px;

  &:nth-child(1) {
    background-color: #E9524A;
    left: 10px;
  }

  &:nth-child(2) {
    background-color: #59C837;
    left: 30px;
  }

  &:nth-child(3) {
    background-color: #F1AE1B;
    left: 50px;
  }
}

i {
  cursor: pointer;
  padding: 10px;
  color: $contraste;
  font-size: 14px;
  rotate: 180deg;
  transition: 0.3s;
}

/* #endregion */
/* #region resultado container*/
.resultado-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $cor-secundaria;
  border-top: 2px solid $contraste;
  border-bottom: 2px solid $contraste;
  color: $contraste;

  .resultado {
    padding: 20px;
    font-size: 36px;
    word-break: break-all;
  }
}

/* #endregion */
/* #region digitação container*/
.digitacao-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $cor-secundaria;
  overflow: scroll;
  color: $contraste;

  .digitacao {
    padding: 20px;
    word-break: break-all;
  }
}

/* #endregion */
/* #region botoes*/
.botoes {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(5, 40px);
  padding: 20px;
  gap: 20px;
  border-radius: 0 0 8px 8px;
  background-color: $cor-primaria;
  border-top: 2px solid $contraste;

  .botao {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px solid $contraste;
    background-color: $cor-secundaria;
    color: $contraste;
    cursor: pointer;

    &:hover {
      background-color: lighten($cor-secundaria, 5%);
    }

    &:nth-child(8) {
      grid-column: 4;
      grid-row: 2 / -1;
    }
  }
}

/* #endregion */